<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
IMS 社区为 Irdeto 最高大上的社区，致力于 IMS 的技术研究；

IMS社区由一批热爱IMS技术的工程师（fengzi）发起，目前已吸引各类人士加入，欢迎更多（yaobunengting）的朋友加入。
*/
        })) %>
      </div>
    </div>
  </div>
</div>
